body {
    background-color: #D0D98F;
    font-size: 16px;
}

input[type="button"] {
    background-color: bisque;
    border: 1px solid burlywood;
    padding: 10px;
    min-width: 30%;  
}

input[type="button"]:hover {
    background-color: burlywood;
}

div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 250px;
}